/* CamPeek@gamalsherif1.github.io/stylesheet.css */
/* Style for the frame with transition effect */
.campeek-frame {
    transition: opacity 100ms ease-in-out;
    margin: 4px;
    padding: 0;
    background: none;
    border: none;
    border-radius: 8;
}

/* Style for the preview menu item */
.campeek-preview-item {
    padding: 0;
    margin: 0;
    background: none;
    border-radius: 8px;
}

/* Panel button styling to ensure icon appears */
.panel-button {
    -natural-hpadding: 6px;
    -minimum-hpadding: 6px;
    font-weight: bold;
    color: #eeeeec;
    transition-duration: 100ms;
}

/* Style the indicator icon in the top panel */
.system-status-icon {
    icon-size: 16px;
    padding: 0 4px;
    margin: 0;
}

/* Add a style for the spinner */
.spinner {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        -st-icon-rotation: 360deg;
    }
}
